html, body{
    background-color: whitesmoke;
}

/****************** HOMEPAGE ******************/

#homepage{
    display: none; 
}  

/* #game{
    display:none; 
}  */

#first{
    position: relative;
    width: 60rem;
    height: 35rem;
    margin: auto; 
    margin-top: 5rem; 
    background-color: violet;
    box-sizing: border-box;
    padding-top: 7.5rem; 
}

#character-selector{
    display: flex; 
}

h1{
    text-align: center; 
    font-size: 5rem; 
}

#character_homepage_01{
    background-color: thistle; 
}

#character_homepage_02{
    background-color: blue; 
}

#character_homepage_03{
    background-color:pink; 
}

#character_homepage_04{
    background-color: yellow; 
}

.character{
    width: 12rem; 
    height: 12rem; 
    margin: 2rem; 
}

#btn-start-game{
    width: 100%;
    text-align: center;
}

.button{
    text-align: center;
    display:inline-block;
    text-decoration: none !important;
    margin:0 auto;
    padding-top: 1rem; 
    width: 25rem; 
    height: 5rem;
    background-color: lightgreen; 
    border-radius: 2rem; 
    font-size: 2.5rem; 
    text-shadow: -9px -2px 5px rgba(152, 150, 150, 1);
    text-decoration: none; 
}

/****************** PLAY ******************/

#second{
    position: relative;
    width: 960px;
    height: 560px;
    margin: auto; 
    margin-top: 80px; 
    background-color: blue;
    box-sizing: border-box;
} 

#score{
    position: relative;
    display: flex; 
    margin: auto; 
    background-color: lightblue;
} 

.score_01{
    width:25%; 
    padding: 1rem; 
    background-color: lightgrey;
}

.score_middle{
    width:50%; 
}

.score_02{
    width:25%; 
    padding: 1rem; 
    background-color: lightgrey;
}

#battle{
    position: relative;
    height: 510px;
    margin: auto; 
} 

h1{
    text-align: center; 
    font-size: 5rem; 
}

#perso_01{
    position: absolute; 
    width: 50px; 
    height: 50px; 
    background-color: black; 
}

#perso_02{
    position: absolute; 
    width: 50px; 
    height: 50px; 
    left: 910px; 
    top: 460px;
    background-color: grey; 
}

.back{
    width: 100%;
    text-align: center;
}

.button{
    text-align: center;
    display:inline-block;
    text-decoration: none !important;
    margin:0 auto;
    margin-top: 1rem; 
    padding-top: 1rem; 
    width: 25rem; 
    height: 5rem;
    background-color: lightgreen; 
    border-radius: 2rem; 
    font-size: 2.5rem; 
    text-shadow: -9px -2px 5px rgba(152, 150, 150, 1);
    text-decoration: none; 
}

