@font-face {
    font-family: SouthPark;
    src: url(../assets/font/southpark.ttf);
}

body{
    background-image : url(../assets/img/southPark.jpg); 
    background-repeat: no-repeat;
    background-size: cover; 

}

/****************** HOMEPAGE ******************/

/*
#homepage{
    display: none; 
}   
*/

#game{
    display:none; 
} 

#first{
    position: relative;
    width: 60rem;
    height: 35rem;
    margin: auto; 
    background-color: rgba(204, 102, 255, 0.7);
    box-sizing: border-box;
}

#character-selector{
    display: flex; 
}

h1{
    text-align: center; 
    font-size: 5rem; 
    font-family: 'southpark'; 
}

/****************** SELECT YOUR PLAYER ******************/

.character_01{
    background-image : url(../assets/img/craig.png); 
    background-size: cover; 
}

.character_02{
    background-image : url(../assets/img/wendy.png); 
    background-size: cover; 
}

.character_03{
    background-image : url(../assets/img/token.png); 
    background-size: cover; 
}

.character_04{
    background-image : url(../assets/img/girl.png); 
    background-size: cover;     
}

.name{
    margin-top:185px; 
    text-align: center; 
    font-family: 'southpark'; 
    font-size: 25px; 
}

.character{
    width: 200px; 
    height: 200px; 
    margin: 20px; 
}

/****************** PLAYER SELECTED ******************/

#fight{
    position: relative;
    display: flex; 
    margin-top: 40px;
    margin-left: 120px;
    margin-right: 120px;
}

#character_vs_01{
    background-color: rgba(255, 204, 255, 0.7);
    width: 250px; 
    height: 250px; 
}

#character_vs{
    background-image : url(../assets/img/vs.png); 
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto; 
    width: 200px; 
    height: 200px; 
}

#character_vs_02{
    background-color: rgba(255, 204, 255, 0.7);
    width: 250px; 
    height: 250px; 
}

/* .characterVS{
    width: 200px; 
    height: 200px; 
} */

.namevs{
    margin-top:225px; 
    text-align: center; 
    font-family: 'southpark'; 
    font-size: 25px; 
}

/****************** PLAY ******************/

.player{
    width:250px; 
    background-color: black; 
    color: white; 
    font-family: 'southpark'; 
    font-size: 20px; 
    text-align: center; 
    margin: auto; 
}

#second{
    position: relative;
    width: 960px;
    height: 560px;
    margin: auto;
    box-sizing: border-box;
} 

#score{
    position: relative;
    display: flex; 
    margin: auto; 
    background-color: lightblue;
} 

.score_01{
    width:25%; 
    padding: 1rem; 
    background-color: lightgrey;
    font-family: 'southpark'; 
}

.score_middle{
    width:50%; 
}

.score_02{
    width:25%; 
    padding: 1rem; 
    background-color: lightgrey;
    font-family: 'southpark';  
}

#battle{
    position: relative;
    height: 510px;
    background-image : url(../assets/img/battleground.png); 
    margin: auto; 
} 

h1{
    text-align: center; 
    font-size: 5rem; 
}

#perso_01{
    position: absolute; 
    width: 50px; 
    height: 50px; 
    left: 0px;
    top: 0px;
}

#perso_02{
    position: absolute; 
    width: 50px; 
    height: 50px; 
    left: 910px;
    top: 460px;
}

.perso_1_img{
    background-image : url(../assets/img/SuperDick1.png);
}

.perso_2_img{
    background-image : url(../assets/img/SuperBitch1.png);
}

.perso_3_img{
    background-image : url(../assets/img/SuperBlack1.png);
}

.perso_4_img{
    background-image : url(../assets/img/SuperWoman1.png);
}


/****************** BUTTON ******************/

.center{
    width: 100%;
    text-align: center;
    margin-top: 30px; 
}

#start-game{
    text-align: center;
    padding: 1rem; 
    margin: auto; 
    display: inline-block;
    border-radius: 2rem; 
    font-size: 2.5rem; 
    background-color: rgb(51, 204, 51);
    text-shadow: -9px -2px 5px rgba(152, 150, 150, 1);
    text-decoration: none; 
    font-family: 'southpark'; 

}

#try-again{
    text-align: center;
    padding: 1rem; 
    margin: auto; 
    display: inline-block;
    border-radius: 2rem; 
    font-size: 2.5rem; 
    background-color: rgb(51, 204, 51);
    text-shadow: -9px -2px 5px rgba(152, 150, 150, 1);
    text-decoration: none; 
    font-family: 'southpark'; 
}
